# .gitignore

# Global Configs
configs/


# Front End: Next.js
front_end/node_modules
front_end/.pnp
front_end/.pnp.js
front_end/.yarn/install-state.gz
front_end/coverage
front_end/.next/
front_end/out/
front_end/build
front_end/*.pem
front_end/npm-debug.log*
front_end/yarn-debug.log*
front_end/yarn-error.log*
front_end/.env*.local
front_end/.vercel
front_end/*.tsbuildinfo


# Back End: Python, FastAPI + SQLAlchemy
back_end/**/__pycache__/
back_end/*.py[oc]
back_end/.venv
back_end/run*.py
back_end/run*.sh
back_end/!scripts/**
back_end/scripts/**/**__pycache__**
back_end/api_keys.json
back_end/python_scripts/run*.py


# Others
*nohup*
*slurm*
!back_end/python_scripts/blueprints/magnus-slurm.py
!back_end/python_scripts/magnus_slurm.py
documents/
.DS_Store
.vscode/