client:
  jobs:
    poll_interval: 2
server:
  address: http://your-server-ip
  front_end_port: 3011
  # during development, front_end_port += 2
  back_end_port: 8017
  # during development, back_end_port += 2
  # redirect_uri = f"{address}:{front_end_port}/auth/callback"
  root: /path/to/magnus-data
  # magnus_database_path = f"{server_root}/database"
  # sqlalchemy_database_url = f"sqlite:///{magnus_database_path}/magnus.db"
  # magnus_workspace_path = f"{server_root}/workspace"
  # job_working_table = f"{magnus_workspace_path}/jobs/{job.id}"
  # job_repository_path = f"{job_working_table}/repository"
  # job_wrapper_path = f"{job_working_table}/wrapper.py"
  # magnus_uv_cache = f"{server_root}/uv_cache"
  jwt_signer:
    secret_key: your-secret-key
    algorithm: HS256
    expire_minutes: 10080  # 7 days
  github_client:
    token: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  feishu_client:
    app_id: cli_xxxxxxxxxxxxxxxx
    app_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  scheduler:
    spy_gpu_interval: 5
    heartbeat_interval: 2
    snapshot_interval: 300
  resource_cache:
    container_cache_size: 80G
    repo_cache_size: 20G
  service_proxy:
    max_concurrency: 1024
    pool_size: 1024
  explorer:
    base_url: https://dashscope.aliyuncs.com/compatible-mode/v1
    model_name: qwen3-235b-a22b
    visual_model_name: qwen-vl-max
    small_fast_model_name: qwen-turbo
    api_key: sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

cluster:
  name: Your Cluster Name
  gpus:
    -
      value: rtx5090
      label: NVIDIA GeForce RTX 5090
      meta: 32GB • Blackwell
      limit: 4
  max_cpu_count: 128
  default_memory: 1600M
  default_runner: username
  default_container_image: docker://pytorch/pytorch:2.5.1-cuda12.4-cudnn9-runtime
  default_system_entry_command: |-
    export APPTAINER_BIND="/home:/home"
    export UV_CACHE_DIR=/path/to/magnus-data/uv_cache
